body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image:url(/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1 {
    color: goldenrod;
}

#btn{
  color: #016f32;
  width: 150px;
  background-color:  goldenrod;
padding: 6px;
font-size: larger;
font-weight: bold;

}
